# Back End
**/target/

# Secrets
/secrets/*
!/secrets/*.example
!/secrets/README.md
!/secrets/.gitkeep
.env
.env.local
.env.*.local
.env.secrets


# === IDEs & Editors
# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Eclipse / STS
.project
.classpath
.settings/
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


# === Front End
frontend/node_modules/
frontend/dist/
frontend/build/

# Frontend logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*


# === OS files
.DS_Store
Thumbs.db
